<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form</title>
</head>
<body>
    <form method="POST" action="/chats"> 
        <input  name="from" placeholder="Who are you">
        <br/><br/>
        <textarea name="msg" placeholder="Write your Message Here..."></textarea>
        <br/><br/>
        <input  name="to" placeholder="Enter Receiver name">
        <br/><br/>
        <button>Create Chat</button>
    </form>
    
</body>
</html>